@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");
@media (max-width: 1000px) {
  background-color: yellow; }
.dark {
  display: block;
  margin-right: 1.5em;
  margin: 0 auto;
  border: 1px solid;
  padding: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff; }
  .dark:hover {
    background-color: #666666; }

.white {
  display: block;
  margin-right: 1.5em;
  margin: 0 auto;
  border: 1px solid;
  padding: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: bold;
  background-color: #ffffff;
  color: #000000; }
  .white:hover {
    background-color: #666666; }

html body {
  margin: 0 auto;
    margin-top: 3em;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
  font-family: "Cormorant", serif;
  scroll-behavior: smooth }

header {
  flex: 1; }
  header h1 {
    margin-left: 5vw;
    font-family: Arial, Helvetica, sans-serif; }
  header nav {
    position: absolute;
    top: 3em;
    right: 5vw;
    width: 40vw;
    z-index: 0;
    display: flex;
    justify-content: space-between; }
    header nav a {
      color: #000;
      text-decoration: none;
      padding-top: 1em;
      padding-bottom: 1em;
      margin: 0px;
      font-size: 1.5em; }
      header nav a:hover {
        border: 1px solid;
          border-width: 0px 0px 0.1em 0px; }
      header nav a:active {
        border: 1px solid;
          border-width: 0px 0px 0.1em 0px; }
  header .boy_bg {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50vw;
    height: 100vh;
    z-index: -2;
    background: #e1e1e1; }
  header .boy {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 90vh;
    width: 50vw;
    z-index: -1;
    background: url("../img/boy.png") no-repeat center bottom; }
  header .info {
    position: absolute;
    top: 40vh;
    left: 25vw;
    font-size: 2em;
    font-family: "Cormorant", serif; }
    header .info h2 {
      font-weight: bold; }
  header .shape {
    position: absolute;
    right: 0px;
    top: 40vh;
    z-index: -2;
    width: 15vw;
    height: 40vh;
    border: 15px solid white;
    border-right: 0px; }
  header .shape2 {
    position: absolute;
    left: 0px;
    top: 25vh;
    z-index: -2;
    width: 20vw;
    height: 60vh;
    border: 15px solid #e1e1e1;
      border-left: 0px; }
  header .dark {
    margin-left: 0; }
  header .white {
    margin-left: 0;
    margin-top: 1em; }

main {
  position: relative;
  top: 90vh;
  margin-bottom: 50px; }
  main .broken {
    width: 100px;
    height: 10px;
    margin: 0 auto;
      margin-bottom: 3em;
    background-image: url("../img/span.png");
    background-size: contain;
    background-repeat: no-repeat; }
  main .about {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1em;
    padding: 2em;
    top: 100vh; }
    main .about h3 {
      margin: 0 auto;
      padding: 0.5em;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase; }
    main .about p {
      width: 35vw;
      margin: 0 auto;
        margin-bottom: 1.5em;
      font-size: 2em;
      text-align: center; }
    main .about p {
      font-size: 2em !important;
      text-align: justify; }
  main .service {
    padding-bottom: 0em;
    font-size: 1.2em; }
    main .service .container {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em;
      justify-content: space-around; }
    main .service .item {
      margin: 1em;
      padding: 0.5em; }
      main .service .item:last-child {
        margin-bottom: 2em; }
      main .service .item p {
        max-width: 400px; }
    main .service .skills {
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 1em;
      padding: 2em; }
      main .service .skills h3 {
        margin: 0 auto;
        padding: 0.5em;
        text-align: center;
        font-size: 2em;
        text-transform: uppercase; }
      main .service .skills p {
        width: 35vw;
        margin: 0 auto;
          margin-bottom: 1.5em;
        font-size: 2em;
        text-align: center; }
      main .service .skills p {
        text-transform: uppercase; }
      main .service .skills .myProgress {
        background-color: #dfdfdf; }
      main .service .skills .myBar {
        width: 10%;
        height: 30px;
        background-color: #000000;
        text-align: center;
        line-height: 30px;
        color: white; }
    main .service .bg {
      width: 100%;
      height: 50vh;
      background-image: url("../img/bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 60%;
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5); }
    main .service .whatido {
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 1em;
      padding: 2em;
      position: relative;
      top: -20vh;
      text-align: center;
      box-shadow: 10px 10px 18px #dddddd;
      background-color: #ffffff; }
      main .service .whatido h3 {
        margin: 0 auto;
        padding: 0.5em;
        text-align: center;
        font-size: 2em;
        text-transform: uppercase; }
      main .service .whatido p {
        width: 35vw;
        margin: 0 auto;
          margin-bottom: 1.5em;
        font-size: 2em;
        text-align: center; }
      main .service .whatido img {
        padding-bottom: 1em; }
      main .service .whatido h4 {
        font-size: 2em; }
      main .service .whatido p {
        font-size: 1.6em; }
  main .portfolio {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1em;
    padding: 2em;
    text-align: center; }
    main .portfolio h3 {
      margin: 0 auto;
      padding: 0.5em;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase; }
    main .portfolio p {
      width: 35vw;
      margin: 0 auto;
        margin-bottom: 1.5em;
      font-size: 2em;
      text-align: center; }
    main .portfolio .container {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em;
      justify-content: space-around; }
    main .portfolio .item {
      margin: 1em;
      padding: 0.5em; }
      main .portfolio .item:last-child {
        margin-bottom: 2em; }
      main .portfolio .item p {
        max-width: 400px; }
    main .portfolio .container {
      flex-wrap: no-wrap; }
    main .portfolio .item {
      width: 400px;
      height: 20em; }
      main .portfolio .item p {
        visibility: hidden;
        margin-top: 50%;
        font-size: 3em;
        font-weight: bold; }
      main .portfolio .item:hover {
        box-shadow: inset 0 0 0 1000px #ffffffb3; }
        main .portfolio .item:hover p {
          visibility: visible; }
    main .portfolio .project1 {
      background-image: url("../img/img 1.png");
      background-repeat: no-repeat;
      background-size: cover; }
    main .portfolio .project2 {
      background-image: url("../img/img 2.png");
      background-repeat: no-repeat;
      background-size: cover; }
    main .portfolio .project3 {
      background-image: url("../img/img 3.png");
      background-repeat: no-repeat;
      background-size: cover; }
    main .portfolio .project4 {
      background-image: url("../img/img 4.png");
      background-repeat: no-repeat;
      background-size: cover; }
    main .portfolio .project5 {
      background-image: url("../img/img 5.png");
      background-repeat: no-repeat;
      background-size: cover; }
    main .portfolio .project6 {
      background-image: url("../img/img 6.png");
      background-repeat: no-repeat;
      background-size: cover; }
    main .portfolio .project4 {
      display: none; }
    main .portfolio .project5 {
      display: none; }
    main .portfolio .project6 {
      display: none; }
    main .portfolio .white {
      margin-top: 1.5em; }
  main .exp {
    padding: 2em;
    margin: 0 !important;
    background-image: url("../img/exp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    font-family: "Cormorant", serif; }
    main .exp .container {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em;
      justify-content: space-around; }
    main .exp .item {
      margin: 1em;
      padding: 0.5em; }
      main .exp .item:last-child {
        margin-bottom: 2em; }
      main .exp .item p {
        max-width: 400px; }
    main .exp .container .item {
      min-width: 20em;
      background-color: initial;
      text-align: center;
      font-size: 1em;
      color: #ffffff;
      z-index: 0; }
      main .exp .container .item .number {
        font-size: 4em; }
      main .exp .container .item p {
        font-size: 1em; }
  main .contact {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1em;
    padding: 2em; }
    main .contact h3 {
      margin: 0 auto;
      padding: 0.5em;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase; }
    main .contact p {
      width: 35vw;
      margin: 0 auto;
        margin-bottom: 1.5em;
      font-size: 2em;
      text-align: center; }
    main .contact .container {
      width: 100%;
      align-content: center; }
    main .contact input {
      border: none;
        border-bottom: 1px solid #000000;
      padding: 1em; }
    main .contact .name {
      width: 40vw; }
    main .contact .email {
      width: 40vw; }
    main .contact .message {
      width: 80vw;
      padding-bottom: 10em; }
    main .contact .white {
      padding-left: 3em;
      padding-right: 3em; }

footer {
  position: relative;
  padding: 1em;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2em;
  top: 100vh;
  background-color: #222222;
  color: #fff;
  text-align: center;
  font-size: 1.5em; }
  footer .top {
    position: absolute;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    bottom: 0.4em;
    right: 5vw;
    border: none;
      border-radius: 50%;
    background-color: #ffffff;
    font-size: 1.5em; }
    footer .top:hover {
      box-shadow: 2px 2px 10px #dddddd; }

/*# sourceMappingURL=main.css.map */
