@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");
html body {
  margin: 0 auto;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3em;
  margin-left: 5vw;
  margin-right: 5vw; }

header nav {
  position: absolute;
  top: 3em;
  right: 5vw;
  width: 40vw;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Cormorant", serif; }
  header nav a {
    color: #000;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0px; }
    header nav a:hover {
      border: 1px solid;
        border-width: 0px 0px 0.1em 0px; }
    header nav a:active {
      border: 1px solid;
        border-width: 0px 0px 0.1em 0px; }
header .boy_bg {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50vw;
  height: 100vh;
  z-index: -2;
  background: #e1e1e1; }
header .boy {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 90vh;
  width: 50vw;
  z-index: -1;
  background: url("../img/boy.png") no-repeat center bottom; }
header .info {
  position: absolute;
  top: 40vh;
  left: 25vw;
  font-size: 2em;
  font-family: "Cormorant", serif; }
  header .info h2 {
    font-weight: bold; }
header .shape {
  position: absolute;
  right: 0px;
  top: 40vh;
  z-index: -2;
  width: 15vw;
  height: 40vh;
  border: 15px solid white;
  border-right: 0px; }
header .shape2 {
  position: absolute;
  left: 0px;
  top: 25vh;
  z-index: -2;
  width: 20vw;
  height: 60vh;
  border: 15px solid #e1e1e1;
  border-left: 0px; }

.dark {
  padding: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: bold;
  border: 1px solid;
  margin-right: 1.5em;
  color: #ffffff;
  background-color: #000000; }
  .dark:hover {
    background-color: #666666; }

.white {
  padding: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: bold;
  border: 1px solid;
  margin-right: 1.5em;
  color: #000000;
  background-color: #ffffff; }
  .white:hover {
    background-color: #666666; }

main {
  position: relative;
  top: 100vh; }
  main #about {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    font-family: "Cormorant", serif;
    padding: 2em;
    top: 100vh; }
    main #about h3 {
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
      padding: 1em;
      text-transform: uppercase; }
    main #about p {
      width: 35vw;
      margin: 0 auto;
      font-size: 2em;
      text-align: justify;
      margin-bottom: 1.5em; }
    main #about p {
      font-size: 2em !important; }
  main #service {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    font-family: "Cormorant", serif;
    padding: 2em;
    background-color: blue; }
    main #service h3 {
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
      padding: 1em;
      text-transform: uppercase; }
    main #service p {
      width: 35vw;
      margin: 0 auto;
      font-size: 2em;
      text-align: justify;
      margin-bottom: 1.5em; }
    main #service .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: pink;
      padding: 0.5em; }
    main #service .item {
      background-color: red;
      margin-top: 2em;
      padding: 0.5em; }
      main #service .item:last-child {
        margin-bottom: 2em; }
      main #service .item p {
        max-width: 400px; }
    main #service #myProgress {
      background-color: #dfdfdf; }
    main #service #myBar {
      width: 10%;
      height: 30px;
      background-color: #000000;
      text-align: center;
      line-height: 30px;
      color: white; }
    main #service #whatido {
      font-size: 1.5em;
      text-align: center; }
      main #service #whatido p {
        font-size: 1.2em; }
  main #portfolio {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    font-family: "Cormorant", serif;
    padding: 2em;
    background-color: yellow; }
    main #portfolio h3 {
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
      padding: 1em;
      text-transform: uppercase; }
    main #portfolio p {
      width: 35vw;
      margin: 0 auto;
      font-size: 2em;
      text-align: justify;
      margin-bottom: 1.5em; }
  main #contact {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    font-family: "Cormorant", serif;
    padding: 2em;
    background-color: green; }
    main #contact h3 {
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
      padding: 1em;
      text-transform: uppercase; }
    main #contact p {
      width: 35vw;
      margin: 0 auto;
      font-size: 2em;
      text-align: justify;
      margin-bottom: 1.5em; }

/*# sourceMappingURL=main.css.map */
